<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Detection</title>
    <script src="js/jquery-3.5.1.min.js" type="module"></script>
    
    <script src="js/popper.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <link rel="shortcut icon" href="#">
    <script defer src="js/tf.min.js"> </script>
    <script defer src="javascripts/face-api.min.js" type="module"></script>
    <script defer src="javascripts/face-detection.js" type="module"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
    <script defer src="js/bootstrap.min.js" type="module"></script>
</head>

<body>
    <div style="width: 260px; padding-bottom: 40px;; margin: auto">
        <button class="btn btn-primary" id="takePhoto" style="margin-right: 40px;">Take photo</button>
        <a class="btn btn-warning" href="/recognition">Recognition</a>
    </div>
    <div id="video-div">
        <video width="640px" height="480px" autoplay muted id="video"></video>
    </div>
    <div id="img-div">
        <canvas id="to-draw-canvas"></canvas>
        <div id="facesContainer"></div>
        <img id="captured-photo" alt="This photo is captured from the webcam.">
    </div>
    <!-- Modal -->
    <div class="modal fade modal-dialog-centered" id="IDModal" data-backdrop="static focus" data-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="staticBackdropLabel" style="text-align: center;">MSSV của bạn là gì?
                    </h3>
                </div>
                <div class="modal-body">
                    <input id="SID" type="text" style="height: 40px; width: 468px; font-size: 20;">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn-ok">OK</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn-cancel">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>