<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <script src="js/jquery-3.5.1.min.js" type="module"></script>
    
    <script src="js/popper.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <link rel="shortcut icon" href="#">
    <script defer src="js/tf.min.js"> </script>
    <script defer src="javascripts/face-api.min.js" type="module"></script>
    <script defer src="javascripts/face-detection.js" type="module"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
    <script defer src="js/bootstrap.min.js" type="module"></script>
</head>
<body>
    <h1>Welcome to Face-API App</h1>
    <a class="btn btn-primary" href="/detection">Detection</a>
    <a class="btn btn-warning" href="/recognition">Recognition</a>
</body>
</html>