body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: block;
}

a {
  color: #00b7ff;
}

video {
  /* transform: scaleX(-1); */
  position: absolute;

  border-radius: 100%; 
}

canvas {
  position: absolute;
}

#img-div {
  position: relative;
  top: 600px;
}

#captured-photo {
  position: absolute;
}

#to-draw-canvas {
  width: 640px;
  height: 480px;
}

#info-modal, #IDModal {
  top: 150px;
}
